.todo-list{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 90%;
    min-height: 600px;
    background: #161a2b;
    
    margin: 25px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}

h1 {
    text-align: center;
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
}